/* (opsional) styling khusus form */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #a9bff7;
}

.container {
    width: 900px;
    height: 450px;
    background: #a9bff7;
    margin: 70px auto;
    display: flex;
    border-radius: 10px;
}

.left-box {
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 10px 0 0 10px;
    padding: 30px 40px;
    position: relative;
    box-sizing: border-box;
}


.left-box .title {
    margin-top: 130px;
    font-size: 38px;
    font-weight: 600;
    color: #777;
}

.left-box .subtitle {
    margin-top: 10px;
    font-size: 15px;
    color: #999;
    line-height: 22px;
}

.right-box {
    width: 50%;
    height: 100%;
    background: #6f85e6;
    border-radius: 0 10px 10px 0;
    padding: 40px;
    box-sizing: border-box;
}

.right-box .welcome {
    font-size: 22px;
    text-align: center;
    color: white;
    margin-bottom: 35px;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #dce4ff;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.login-btn:hover {
    background: #eef2ff;
}

.signup-text {
    text-align: center;
    margin-top: 15px;
    color: white;
}

.signup-text a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}



