/* (opsional) styling khusus form */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #a9bff7;
}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 60%;
    max-width: 600px;
    background: #6f85e6;
    padding: 60px 40px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    text-align: center;
}

.form-title {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-subtitle {
    color: #eaeaea;
    margin-bottom: 35px;
    font-size: 18px;
}

.form-input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    background: #d8e6ff;
    outline: none;
    font-size: 15px;
}

.input-icon {
    position: relative;
}

.input-icon span {
    position: absolute;
    top: 14px;
    left: 12px;
    opacity: 0.7;
}

.form-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px;
    background: #e8f1ff;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: .2s;
}

.form-btn:hover {
    background: #ffffff;
}

.form-footer {
    margin-top: 20px;
    color: #fff;
}

.form-link {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}
