body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8FC3FF;     
}

.navbar {
    width: 100%;
    background-color: #3A95FF;     
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    gap: 150px;
}

.nav-item {
    font-size: 16px;
    font-weight: 600;
}


.container {
    padding: 30px 40px;
}

.title {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
}


.event-card {
    width: 260px;
    background: white;
    border-radius: 12px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.event-img {
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.event-content {
    text-align: center;
    margin-top: 10px;
}

.event-dates {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.date-box {
    font-size: 13px;
}

.label {
    font-weight: bold;
    margin-bottom: 3px;
}

.price {
    font-weight: bold;
    margin: 12px 0;
}

.btn {
    width: 80%;
    padding: 8px;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 6px;
    font-size: 14px;
}

.detail {
    background-color: #0066FF;
}

.cancel {
    background-color: #FF2F2F;
}